@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0; 
  background-color: rgb(235, 235, 235);

  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

button#new-book-btn {
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 900;
  background-color: #0ea5e9;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

form#new-book-form {
  width: 500px; 
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

form > div {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

input {
  margin: 8px 0;
}

label {
  font-size: 18px;
  font-weight: 300;
}

input[type='text'],
input[type='number'] {
  width: 90%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
}

input[type='text']:focus,
input[type='number']:focus {
  border-color: #333;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

button[type='submit'] {
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #444;
}

/* table */

.remove-book-btn {
  padding: 4px 8px;
  /* margin-right: 10px; */
  border: none;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

.remove-book-btn:hover {
  background-color: darkred;
}

.toggle-book-status-btn {
  padding: 4px 8px;
  /* margin-left: 10px; */
  border: none;
  border-radius: 50%;
  background-color: #0ea5e9;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

.toggle-book-status-btn:hover {
  background-color: #0a628b;
}

/* spacing */

table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 20%;
}

thead th:nth-child(6) {
  width: 5%;
}

th,
td {
  padding: 10px;
}

/* typography */

thead th {
  font-family: "Rock Salt", cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: rgb(215, 215, 215);
}

/* caption */

caption {
  font-family: "Rock Salt", cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}
